<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit item</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <form class="edit-todo" action="/edit/{{id}}" method="POST">
        <input type="text" name="editItem" value="{{text}}"><button type="submit" name="editBtn">edit</button>
      </form>
    </main>
  </body>
</html>
